
@font-face {
    font-family: 'klavika-bold';
    src: font-url('klavika/klavika-bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFPRODISPLAYREGULAR';
    src: font-url('sfprodisplay/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TAHOMABD';
    src: font-url('tahoma/TAHOMABD.TTF') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RabbidHighwaySignIIHop';
    src: font-url('rabbid/RabbidHighwaySignIIHop.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

body {
    background: #f2f2f2;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}


.title {
    font-size: 59px;
    color: #1877F2;
    font-family: 'TAHOMABD';
}

.titleF {
    font-size: 70px;
    color: #1877F2;
    font-family: 'klavika-bold';
    letter-spacing: -2px;
}

.ospacing {
    font-size: 59px;
    color: #1877F2;
    font-family: 'TAHOMABD';
    letter-spacing: -3px;
}

.espacing {
    font-size: 59px;
    color: #1877F2;
    font-family: 'TAHOMABD';
    letter-spacing: -2px;
}

.title2 {
    font-size: 55px;
    color: #1877F2;
    font-family: 'TAHOMABD';
}

.connectFriends {
    font-size: 24px;
    color: #1c1e21;
    line-height: 28px;
    width: auto;
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
}

.greetingContainer {
    padding: 20px 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}



@media only screen and (max-width: 1075px) {
   .greetingContainer {
        height: 496px;
        margin: 0 40px;
        width: auto;
    } 
}







