
@font-face {
    font-family: 'klavika-bold';
    src: font-url('klavika/klavika-bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFPRODISPLAYREGULAR';
    src: font-url('sfprodisplay/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TAHOMABD';
    src: font-url('tahoma/TAHOMABD.TTF') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: font-url('tahoma/Tahoma.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TAHOMAB0';
    src: font-url('tahoma/TAHOMAB0.TTF') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RabbidHighwaySignIIHop';
    src: font-url('rabbid/RabbidHighwaySignIIHop.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

#greetingMiddlePostsContainerTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileBottomFullContainer3 {
    position: fixed;
    top: 55px;
    left: 0px;
    width: 30%;
    height: 100%;
    z-index: 50;
    display: flex;
    justify-content: flex-start;
}

.profileBottomFullContainer4 {
    align-self: flex-end;
    position: fixed;
    top: 55px;
    right: 0px;
    width: 30%;
    height: 100%;
    z-index: 50;
    display: flex;
    justify-content: flex-end;
}

.profileBottomRightSideOptionsContainer {
    margin-top: 15px;
    width: 365px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.profileBottomLeftSideOptionsContainer {
    margin-top: 15px;
    width: 365px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.profileBottomLeftSideOptionsLine {
    height: 1px;
    align-self: center;
    width: 100%;
    margin-left: 35px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}

.profileBottomLeftSideOptionsLine2 {
    height: 1px;
    align-self: flex-start;
    width: 95%;
    margin-left: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}

.friendRequestsContainer {
    align-self: center;
    width: 95%;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px #00000033;
    overflow: hidden;
    margin-bottom: 15px;
    margin-left: -5px;
}

.friendRequestsContainer > div:first-child {
    margin-top: 15px;
    margin-left: 15px;
    align-self: flex-start;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.friendRequestsContainer > div:first-child > div:first-child {
    align-self: center;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 2px;
}

.friendRequestsContainer > div:first-child > div:last-child {
    align-self: center;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.904);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: bold;
}

.friendRequestsFriendPic {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 7px;
}

.friendRequestsFriendPic:hover {
    background-color:rgba(0, 0, 0, 0.1);
}

.friendRequestsFriendPic > div:first-child {
    margin-left: 15px;
    align-self: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}

.friendRequestsFriendPic > div:first-child > div {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.friendRequestsFriendPic > div:last-child {
    margin-left: 10px;
    align-self: center;
    color: rgba(0, 0, 0, 0.877);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: bold;

}

.friendRequestsConfirmButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: -20px;
    margin-bottom: 30px;
}

.friendRequestsConfirmButtons > div:first-child {
    width: 98px;
    height: 36px;
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #1b74e4;
    border-radius: 7px;
    margin-right: 10px;
}

.friendRequestsConfirmButtons > div:first-child:hover {
    background-color: #1565c5;
}

.friendRequestsConfirmButtons > div:first-child > div {
    
    align-self: center;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

.friendRequestsConfirmButtons > div:last-child {
    width: 98px;
    height: 36px;
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #e4e6eb;
    border-radius: 7px;
}

.friendRequestsConfirmButtons > div:last-child:hover {
    background-color: #cbced4;
    
}

.friendRequestsConfirmButtons > div:last-child > div {
    
    align-self: center;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;

    
}

.profileBottomLeftSideOptions {
   
    margin-top: 5px;
    cursor: pointer;
    width: 355px;
    height: 52px;
    margin-left: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.friendRequestsContainer {

}

.profileBottomLeftSideOptions:hover {
    background-color: rgba(0, 0, 0, 0.085);
}



.profileBottomLeftSideOptions > div:first-child {
    margin-left: 5px;
    align-self: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    overflow: hidden;
}

.profileBottomLeftSideOptions > div:first-child > div {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.profileBottomLeftSideOptions > div:last-child {
    align-self: center;
    display: flex;
    justify-content: center;
}

.profileBottomLeftSideOptions > div:last-child > div {
    align-self: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 10px;
}

.profileBottomLeftSideFriends {
    margin-top: 10px;
    margin-left: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileBottomLeftSideFriends > div:first-child {
    color: #65676B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    font-weight: bold;
}

.friendsPicAndNameList {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    align-self: flex-start;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    border-radius: 7px;
}

.friendsPicAndNameList > div:first-child {
    margin-left: 5px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    overflow: hidden;
}

.friendsPicAndNameList:hover {
    background-color: rgba(0, 0, 0, 0.103);
}

.friendsPicAndNameList > div:first-child > div {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.friendsPicAndNameList > div:last-child {
    margin-right: 5px;
    align-self: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: bold;
    margin-left: 10px;
}

.profileBottomFullContainer2 {
    width: 100%;
    height: 100%;
    z-index: 40;
    display: flex;
    justify-content: center;
}

.profileBottomInnerContainer2 {
    margin-left: 65px;
    padding-top: 15px;
    height: 100%;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    z-index: 40;
}

.profileBottomRightSide2 {
    margin-top: 60px;
    height: 100%;
    width: 512.5px;
    border-radius: inherit;
}


body {
    background: #F0F2F5;
    color: #1c1e21;
    line-height: 1.34;
}


.title {
    font-size: 59px;
    color: #1877F2;
    font-family: 'TAHOMABD';
}

.titleF {
    font-size: 70px;
    color: #1877F2;
    font-family: 'klavika-bold';
    letter-spacing: -2px;
}

.ospacing {
    font-size: 59px;
    color: #1877F2;
    font-family: 'TAHOMABD';
    letter-spacing: -3px;
}

.espacing {
    font-size: 59px;
    color: #1877F2;
    font-family: 'TAHOMABD';
    letter-spacing: -2px;
}

.title2 {
    font-size: 55px;
    color: #1877F2;
    font-family: 'TAHOMABD';
}

.connectFriends {
    padding-bottom: 35px;
    font-size: 24px;
    color: #1c1e21;
    line-height: 28px;
    width: auto;
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
}

.connectFriends2 {
    width: 0px;
    height: 0px;
    margin-top: -38px;
    visibility: hidden;
    padding-bottom: 35px;
    font-size: 24px;
    color: #1c1e21;
    line-height: 28px;
    width: auto;
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
}

.greetingPageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    min-height: 800px;
}



.greetingContainer {
    padding: 20px 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 12;
}

.greetingContainer > div:last-child  {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -15px;
}

.greetingContainer > div > div {
    max-width: 396px;
    margin: 0 auto;
}

.greetingContainer > div > div:last-child {
    font-family: Tahoma;
    font-size: 14px;
    padding-top: 25px;
}

.greetingContainer > div > div:last-child span {
    font-family: 'TAHOMABD';
    font-size: 14px;
    cursor: pointer;
}

.greetingContainer > div > div:last-child span:hover {
    font-family: 'TAHOMABD';
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}


.greetingFooterDiv {
    position: absolute;
    width: 100%;
    height: 215px;
    align-self: flex-end;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    z-index: 13;
}

.greetingFooterDiv > div {
   width: 80%;
   height: 90%;
   align-self: flex-end;
   justify-content: center;
    flex-direction: column;
    max-width: 955px;
}

.greetingLanguages {
    margin: 0 auto;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    align-self: flex-start;
}

.greetingLanguages div {
    align-self: flex-end;
    flex-shrink: 0;
    padding-right: 10px;
    font-size: 12px;
    font-family: Tahoma;
    color: #74787ce5;
    line-height: 17px;
    cursor: pointer;
}

.greetingLanguages div:hover {
    text-decoration: underline;
}

.greetingLanguagesPlus {
    background-color: #F5F6F7;
    width: 30px;
    height: 20px;
    border-color: #CCD0D5;
    border-width: 1px;
    border-radius: 3px;
}

.greetingLanguagesPlus:hover {
    background-color: #e6eaee;
}

.greetingLanguagesPlus svg {
    fill: #000000;
    margin-left: 8px;
    margin-bottom: 1.5px;
}


.greetingGrayLine {
    margin: 0 auto;
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    display: flex;
}

.greetingGrayLine div {
    align-self: center;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: #DDDFE2;
}

.greetingOptions {
    margin: 0 auto;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.greetingOptions div {
    cursor: pointer;
    align-self: flex-end;
    flex-shrink: 0;
    padding-right: 18px;
    font-size: 12px;
    font-family: Tahoma;
    color: #74787cee;
    line-height: 20px;
    
}
.greetingOptions div:hover {
    text-decoration: underline;
}

.adChoicesIcon {
    width: 16px;
    height: 16px;
    background-position: 0 -60px;
    margin-bottom: 2px;
    vertical-align: middle;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/Zfa41ZGNBTY.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}

.comingSoonMiddle {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    line-height: 2;
}

.comingSoonMiddle a {
    text-decoration: underline;
}


.grettingCopyright {
    margin: 0 auto;
    width: 100%;
    height: 10%;
    font-size: 11px;
    color: #737373;
    font-family: Tahoma;
    padding-top: 15px;
    background-color: white;
}



@media only screen and (min-width: 900px) {

    .greetingPageContainer {
        width: 100%;
    }

    .greetingContainer {
        flex-direction: row;
        justify-content: space-between;
        width: 91%;
        min-width: 825px;
        max-width: 975px;
        margin-top: 110px;
    }

    .greetingContainer > div:first-child {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 50px;

    }

    .greetingContainer > div:first-child h1 {
        margin-top: 6px;
        display: flex;
        justify-content: left;
    }
    .greetingContainer > div:first-child h1 > span:nth-child(1) {
        margin-top: -5px;
    }

    .greetingContainer > div:first-child h1 > span:nth-child(4) {
        margin-top: -5px;
    }

    .greetingContainer > div:first-child p {
        display: flex;
        justify-content: left;
        text-align: left;
        font-size: 30px;
    }



    .greetingContainer > div:last-child {
        display: flex;
        max-width: 50%;
        flex-direction: column;
        justify-content: right;
    }

    .greetingContainer > div:last-child > div {
        margin-right: 0;
    }

    .greetingContainer > div > div:last-child {
        padding-right: 40px;
    }


    .connectFriends {
        visibility: hidden;
        width: 0px;
        height: 0px;
        margin-top: -38px;
    }
    
    .connectFriends2 {
        margin-top: 0;
        visibility: visible;
        padding-bottom: 35px;
        font-size: 24px;
        color: #1c1e21;
        line-height: 28px;
        width: auto;
        font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    }


    @media only screen and (max-width: 1069px) {

        .connectFriends2 {
            font-size: 25px !important;
         }

        .greetingContainer > div:first-child {
            min-width: 300px;
            max-width: 362px;
        }
    
     }


 }

 



// @media only screen and (max-width: 1075px) {
//    .greetingContainer {
//         height: 496px;
//         margin: 0 40px;
//         width: auto;
//     } 
// }







