


.sessionForm {
    font-family: inherit;
    padding-bottom: 24px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    background-color: rgb(254, 254, 254);
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.11); 
    box-sizing: border-box;
    margin: 20px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    display: block;

}

.outerInputBox {
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    font-size: 17px;
    width: 364px;
    display: inline-block;
    margin: auto;
    padding: 6px 0;
    text-align: center;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
}

.emailAndPassword {
    border-radius: 6px;
    font-size: 17px;
    padding: 26px 16px;
    width: 330px;
    vertical-align: middle;
    line-height: 16px;
    height: 22px;
    border: 1px solid #dddfe2;
    background: #FFFFFF repeat-x;
    -webkit-appearance: none;
    margin: 0;
    -webkit-rtl-ordering: logical;
    cursor: text;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    -webkit-writing-mode: horizontal-tb !important;
    direction: ltr;

}

.emailAndPassword::placeholder { 
    color: #9094A9;
    opacity: 1;
}

.logIn {
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    padding-top: 6px;
    display: block;
    text-align: center;
    font-size: 12px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-align: center;
    text-shadow: none;
    

    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    margin-top: 10px;
}

.createAccount {
    
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    padding-top: 6px;
    display: block;
    text-align: center;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    background-color: #42b72a;
    color: #fff;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    box-sizing: content-box;
    margin-top: 20px;
}