

.outerNavBar {
    width: 100%;
    background-color: white;
    height: 55px;
    display: flex;
    position: fixed;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.062); 
    justify-content: space-between;
}


.outerFIcon {
    transform-origin: 0px 0px;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    text-align: inherit;
    list-style: none;
    -webkit-user-select: none;
}

.ficonDiv {
    cursor: pointer;
    padding-left: 15px;
    padding-top: 10px;
}

.searchDiv {
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
    padding-top: 12px;
    padding-left: 12px;
    height: 38px;
    width: 38px;
    background-color: #F0F2F5;
    border-radius: 50%;
    display: inline-block;
}


.fIcon {
    fill: white;
}




.sandwichMenuDiv {
    width: 45px;
    margin-left: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 15%;
}

.sandwichMenuDiv:hover {
    background-color: #F0F2F5;
}

.sandwichMenu {
    position: absolute;
    margin-top: 9px;
    padding-left: 9px;

}


.settingsDiv {
    cursor: pointer;
    margin-right: 25px;
    margin-top: 10px;
    height: 38px;
    width: 38px;
    background-color: #E4E6EB;
    border-radius: 50%;
    display: inline-block;
}
.settingsDiv:hover {
    background-color: #cdd0d6;
}

.settings {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}


.navBarGroupLeft {
    display: flex;
}

.navBarGroupRight {
    display: flex;
}


.notificationDiv {
    
}