

.profileNavBar {
    border-radius: 7px;
    z-index: 9;
    width: 94%;
    height: 55px;
    margin-bottom: -252px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;

}

.profileNavBar > div:first-child {
    border-radius: 7px;
    align-self: flex-end;
    display: flex;
    justify-content: flex-start;
    height: 55px;
}

.profileNavBar > div:nth-child(2) {
    border-radius: 7px;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    height: 55px;
}

.profileNavButtons {
    cursor: pointer;
    width: 79px;
    border-radius: inherit;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    color: #6f7175;
}

.profileNavButtons2 {
    width: 79px;
    border-radius: inherit;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    color: #6f7175;
}

.profileNavButtons:hover {
    background-color: rgb(241, 241, 241);
}

.profileNavButtons2:hover {
    background-color: rgb(255, 255, 255);
}

.profileNavButtonsWord {
    font-size: 15px;
    font-family: 'Arial';
    font-weight: bold;
    background-color: inherit;
    align-self: center;
    color: inherit;
}

.profileNavBarMoreIcon {
    fill: #6f7175;
    align-self: center;
    margin-left: 5px;
}


.profileNavButtonsOptions {
    border-radius: inherit;
    background-color: #E4E6EB;
    align-self: center;
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
}

.profileNavButtonsOptions:hover {
    background-color: #d6d8db;
}

.profileNavButtonsOptions svg {
    align-self: center;
}

.profileNavButtonsOptions circle {
    color: #050505;
}

.highlightProfileNavButtons {
    border-radius: 0px;
    color: #1876f2;
    border-bottom: 4px solid #1876f2;
}

.highlightProfileNavButtons:hover {
    background-color: rgb(255, 255, 255);
}


@media only screen and (min-width: 900px) {

    .profileNavBar {
        border-radius: 7px;
        z-index: 9;
        background-color: #ffffff;
        width: 94%;
        height: 55px;
        margin-bottom: -128px;
        align-self: flex-end;
        display: flex;
    }

}


