
.totalContainer {
    width: 100%;
    background-color: white;
    height: calc(30vw + 10vh + 330px);
    min-height: 576px;
    max-height: 718px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11); 
}

.backgroundPicDiv {
    position: absolute;
    top: 0px;
    width: 100%;
    margin-top: -12px;
    display:flex;
    height: calc(30vw + 10vh);
    max-height: 412px;
    min-height: 250px;
    border-radius: 10px; 
}

.backgroundPic {
    margin: 0 auto;
    width:100%;
    height: auto;
    background-color: #cccccc; 
    background-attachment: fixed;
    object-position: 50% 15%;
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 10px;
    max-width: 952px;
    object-fit: cover;
}


.backgroundPicCameraButtonOuterDiv2 {
    position: absolute;
    top: 0px;
    width: 100%;
    margin-top: -12px;
    height: calc(30vw + 10vh);
    max-height: 412px;
    min-height: 250px;
    border-radius: 10px; 
    max-width: 952px;
    left: 50%;
    transform: translate(-50%);
    z-index: 4;
}


.backgroundPicCameraButtonOuterDiv {
    position: relative;
    height: calc(30vw + 10vh);
    max-height: 412px;
    min-height: 250px;
    top: 0;
    width: 48px;
    float: right;
    display: flex;
    padding-bottom: 15px;
    margin-right: 30px;
    
}


.backgroundPicCameraButtonDiv {
    position: fixed;
    
    width: 48px;
    height: 35px;
    border-radius: 5px;
    background-color: #fcfcfc;
    align-self: flex-end;
    cursor: pointer;
}

.backgroundPicCameraButtonDiv:hover {
    background-color: #e0e0e0;
}

.backgroundPicCameraButton {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/aYQE7nau90m.png); 
    background-position: 0px -1352px; 
    background-size: auto; width: 16px;
    height: 16px; 
    background-repeat: no-repeat; 
    display: inline-block;
    margin-left: 16px;
    margin-top: 9px;
}

.backgroundPicShadow {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
    max-width: 952px;
    border-radius: 10px;
    box-shadow: inset 0 -80px 40px -40px rgba(0, 0, 0, 0.562);
}


.profilePicMaxHeight {
    width: 100%;
    position: absolute;   
    top: 0;
    height: calc(30vw + 10vh + 75px);
    max-height: 412px  + 75px;
    min-height: 250px  + 70px;
    display: flex;
    justify-content: center;
}


.profilePicDiv {
    align-self: flex-end;
    width: 170px;
    height: 170px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
}

.profilePic {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    margin-left: 4px;
    margin-top: 4px;
}

.profilePicCameraButtonDiv {
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E4E6EB;
    z-index: 5;
    align-self: flex-end;
    margin-bottom: 10px;
    margin-left: 120px;
}

.profilePicCameraButtonDiv:hover {
    background-color: #cfd0d1;
}



.profilePicCameraButton {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/aYQE7nau90m.png); 
    background-position: 0px -461px; 
    background-size: auto; 
    width: 20px; 
    height: 20px; 
    background-repeat: no-repeat; 
    display: inline-block;
    margin-left: 8px;
    margin-top: 8px;
}


.name {
    align-self: flex-end;
    z-index: 6;
    font-size: 30px;
    color: #050505;
    font-family: 'TAHOMABD';
    margin-bottom: -45px;
}

.friendsNumber {
    align-self: flex-end;
    z-index: 6;
    font-size: 18px;
    color: #65676B;
    font-family: 'SFPRODISPLAYREGULAR';
    margin-bottom: -74px;
}

.friendsImages {
    width: 240px;
    height: 36px;
    align-self: flex-end;
    z-index: 7;
    background-color: #ffffff;
    margin-bottom: -117px;
    display: flex;
    -webkit-flex-direction: row-reverse; 
    flex-direction: row-reverse;
}

.friendPicDiv {
    width: 36px;
    height: 36px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: -7px;
    overflow: hidden;
    display: flex;
    
}

.friendPicDiv:first-child {
    margin-right: 0px;
}



.friendPic {
    background-attachment: fixed;
    object-position: 50% 0;
    background-repeat: no-repeat; 
    background-size: cover; 
    object-fit: cover;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}



.addStoryAndEditButtonsDiv {
    width: 94%;
    height: 36px;
    align-self: flex-end;
    z-index: 8;
    background-color: #ffffff;
    margin-bottom: -174px;
    display: flex;
    border-radius: 6px;
}


.addStoryEditProfileDiv {
    position: relative;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    
}

.addStoryButton {
    cursor: pointer;
    text-align: center;
    position: relative;
    border-radius: inherit;
    width: 49.2%;
    height: 100%;
    background-color: #1B74E4;
    color: white;
    font-family: 'Tahoma';
    line-height: 255%;
    font-size: 14.5px;
}

.addStoryButton:hover {
    background-color: #176ace;
}

.addStoryIcon {
    margin-bottom: 11px;
    margin-right: 5px;
    filter: invert(1);
}

.editProfileButton {
    cursor: pointer;
    text-align: center;
    position: relative;
    border-radius: inherit;
    width: 49.2%;
    height: 100%;
    background-color: #E4E6EB;
    color: #050505;
    font-family: 'Tahoma';
    line-height: 255%;
    font-size: 14.5px;
    font-weight: 900 !important;
}

.editProfileButton:hover {
    background-color: #ced1d6;
}

.editProfileIcon {
    margin-bottom: 10px;
    margin-right: 5px;
}



.grayLine {
    position: absolute;
    z-index: 9;
    background-color: #CCCED2;
    width: 90%;
    height: 1px;
    align-self: flex-end;
    margin-bottom: -194px;
    width: 94%;
}


.profilePicUploadInput {
    display: none;
}


@media only screen and (min-width: 952px) {
    .totalContainer {
        box-shadow: inset 0 350px 200px -200px rgba(0, 0, 0, 0.918);
    }
  }










