

.sessionForm2 {
    position: absolute;
    font-family: inherit;
    padding-bottom: 24px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    background-color: rgb(254, 254, 254);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.178); 
    box-sizing: border-box;
    width: 450px;
    display: block;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 495px;
}

.border-1px {
    width: 100%;
    height: 1px;
    box-shadow: 0 0.5px 0.5px 0px rgba(0, 0, 0, 0.178);
}


.signUpTop {
    width: 100%;
    height: 70px;
    display: flex;
}

.signUpTitle {
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.signUpTitle div:first-child {
    margin-left: -75px;
    font-size: 30px;
    font-family: 'TAHOMABD';
}

.signUpTitle div:nth-child(2) {
    margin-left: -75px;
    margin-top: 5px;
    font-size: 14px;
    color: #606770;
    font-family: 'Tahoma';
}

.signUpExit {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.signUpExitButton {
    margin-top: 5px;
    margin-right: 10px;
}




.firstAndLastOuterBox {
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    width: 399px;
    zoom: 1;
    display: block;
    text-align: left;
    font-size: 12px;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    display: flex;

}


.outerInputBox2 {
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    width: 194px;
    background: white;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 12px;
}

.firstAndLast {
    border-radius: 6px;
    font-size: 17px;
    padding: 26px 16px;
    vertical-align: middle;
    line-height: 16px;
    height: 22px;
    border: 1px solid #dddfe2;
    background: #FFFFFF repeat-x;
    -webkit-appearance: none;
    margin: 0;
    -webkit-rtl-ordering: logical;
    cursor: text;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    -webkit-writing-mode: horizontal-tb !important;
    direction: ltr;

}

.emailAndPassword::placeholder { 
    color: #9094A9;
    opacity: 1;
}

.logIn {
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    padding-top: 6px;
    display: block;
    text-align: center;
    font-size: 12px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-align: center;
    text-shadow: none;
    

    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    margin-top: 10px;
}

.signup {
    
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    line-height: 126%;
    font-weight: bold!important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    min-width: 194px;
    margin: 0;


}


.signupText {
    color: #1c1e21;
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
    font-weight: 600;
    display: block;
    text-align: left;
}

.quickAndEasyText {
    color: #606770;
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    font-weight: normal;
    display: block;
    text-align: left;
}


.backgroundFade {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(245, 245, 245, 0.74);
    z-index: 11;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    z-index: 14;
}


.signUpInputs {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.signUpFirstAndLast {
    width: 93%;
    height: 39px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 10px;
}

.signUpFirstAndLast > input {
    border-radius: 5px;
    width: 48.7%;
    height: 39px;
    background-color: #F5F6F7;
    align-self: flex-end;
    border-left: 1px solid #CCD0D5;
    border-right: 1px solid #CCD0D5;
    box-shadow: 0 0px 0.5px 0px rgba(0, 0, 0, 0.342), 0 0.5px 0px 0px rgba(0, 0, 0, 0.342);
    text-align: left;
    padding-left: 15px;
    padding-bottom: 2px;
    font-family: Tahoma;
    color: #8d949ece;
    font-size: 15px;
}

.signUpFirstAndLast > input::placeholder {
    color: #8d949e;
}

.signUpMobileEmailPassword {
    width: 93%;
    height: 39px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.signUpMobileEmailPassword > input {
    border-radius: 5px;
    width: 100%;
    height: 39px;
    background-color: #F5F6F7;
    align-self: flex-end;
    border-left: 1px solid #CCD0D5;
    border-right: 1px solid #CCD0D5;
    box-shadow: 0 0px 0.5px 0px rgba(0, 0, 0, 0.342), 0 0.5px 0px 0px rgba(0, 0, 0, 0.342);
    text-align: left;
    padding-left: 15px;
    padding-bottom: 2px;
    font-family: Tahoma;
    color: #8d949ece;
    font-size: 15px;
}

.signUpMobileEmailPassword > input::placeholder {
    color: #8d949e;
}

.signUpBirthday {
    width: 100%;
    height: 67px;
    display: flex;
    flex-direction: column;
}

.signUpBirthday > div:first-child {
    margin-top: 10px;
    font-family: Tahoma;
    font-size: 13px;
    text-align: left;
    padding-left: 15px;
    display: flex;
    color: #62676e;
}

.signUpQuestionIcon {
    cursor: pointer;
    align-self: center;
    margin-left: 6px;
    width: 12px;
    height: 12px;
    background-position: 0 -60px;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/EV7ny501e-i.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}

.signUpDate {
    margin-top: 6px;
}

.signUpDate select {
    padding-left: 9px;
    text-align: left;
    width: 29.2%;
    border-radius: 5px;
    border-left: 1px solid #CCD0D5;
    border-right: 1px solid #CCD0D5;
    box-shadow: 0 0px 0.5px 0px rgba(0, 0, 0, 0.342), 0 0.5px 0px 0px rgba(0, 0, 0, 0.342);
    height: 34px;
    font-family: Tahoma;
    color: black;
    font-size: 14px;
}

.signUpDate select:first-child {
    margin-right: 13px;
}

.signUpDate select:nth-child(2) {
    margin-right: 13px;
}
.signUpDate select:nth-child(3) {
    margin-right: 1px;
}

.signUpGender {
    width: 100%;
    height: 67px;
    display: flex;
    flex-direction: column;
}

.signUpGender > div:first-child {
    margin-top: 10px;
    font-family: Tahoma;
    font-size: 13px;
    text-align: left;
    padding-left: 15px;
    display: flex;
    color: #62676e;
}

.signUpGenderChoice {
    margin-top: 14px;
    margin-left: 0px;
}


.signUpGenderChoice > span > span {
    margin-right: 13px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    text-align: left;
    width: 100px;
    border-radius: 5px;
    border-left: 1px solid #CCD0D5;
    border-right: 1px solid #CCD0D5;
    box-shadow: 0 0px 0.5px 0px rgba(0, 0, 0, 0.342), 0 0.5px 0px 0px rgba(0, 0, 0, 0.342);
    height: 34px;
    font-family: Tahoma;
    color: black;
    font-size: 14px;
}

.signUpGenderChoice > span > span:nth-child(1) > label {
    padding-right: 58px;
}

.signUpGenderChoice > span > span:nth-child(2) > label {
    padding-right: 57px;
}
.signUpGenderChoice > span > span:nth-child(3) > label {
    padding-right: 57px;
}

.signUpGenderChoice > span > span:last-child {
    margin-right: 0px;
}

.signUpPolicy {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.signUpPolicy div {
    line-height: 15px;
    align-self: center;
    text-align: left;
    width: 93%;
    font-family: Tahoma;
    color: #686767;
    font-size: 11.2px;
}

.signUpPolicy span {
    cursor: pointer;
    font-family: Tahoma;
    color: #2c4a9c;
    font-size: 11.2px;
}

.signUpPolicy span:hover {
    text-decoration-color: #2c4a9c;
    box-shadow: 0 0.5px 0.5px 0px #2c4a9c;

}



.signUpButton {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
}

.signUpButton > div {
    align-self: flex-end;
    border-radius: 5px;
    width: 45%;
    height: 35px;
    background-color: #00A400;
    color: white;
    font-family: 'TAHOMABD';
    display: flex;
    justify-content: center;
}

.signUpButton > div:hover {
    background-color: #6A9C5D;
    color: #EAECEF;
}

.signUpButton > div > div {
    padding-bottom: 3px;
    align-self: center;
}



