


.sessionForm2 {
    position: absolute;
    font-family: inherit;
    padding-bottom: 24px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    background-color: rgb(254, 254, 254);
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.11); 
    box-sizing: border-box;
    width: 396px;
    display: block;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.firstAndLastOuterBox {
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    width: 399px;
    zoom: 1;
    display: block;
    text-align: left;
    font-size: 12px;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    display: flex;

}


.outerInputBox2 {
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    width: 194px;
    background: white;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 12px;
}

.firstAndLast {
    border-radius: 6px;
    font-size: 17px;
    padding: 26px 16px;
    vertical-align: middle;
    line-height: 16px;
    height: 22px;
    border: 1px solid #dddfe2;
    background: #FFFFFF repeat-x;
    -webkit-appearance: none;
    margin: 0;
    -webkit-rtl-ordering: logical;
    cursor: text;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    -webkit-writing-mode: horizontal-tb !important;
    direction: ltr;

}

.emailAndPassword::placeholder { 
    color: #9094A9;
    opacity: 1;
}

.logIn {
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    padding-top: 6px;
    display: block;
    text-align: center;
    font-size: 12px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-align: center;
    text-shadow: none;
    

    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    margin-top: 10px;
}

.signup {
    
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    line-height: 126%;
    font-weight: bold!important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    min-width: 194px;
    margin: 0;


}


.signupText {
    color: #1c1e21;
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
    font-weight: 600;
    display: block;
    text-align: left;
}

.quickAndEasyText {
    color: #606770;
    font-family: 'SFPRODISPLAYREGULAR', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    font-weight: normal;
    display: block;
    text-align: left;
}


.backgroundFade {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(245,245,245,0.7);
    z-index: 11;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}