


.writePostBackgroundFade {
    background-color: #ffffff96;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999;
}

.writePostContainer {
    border-radius: 7px;
    align-self: center;
    width: 500px;
    height: 430px;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.comingSoonContainer {
    border-radius: 7px;
    align-self: center;
    width: 500px;
    height: 230px;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);

}

.writePostWithPic {
    height: 655px;
}

.writePostTop {
    align-self: center;
    width: 94%;
    height: 60px;
    
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.writePostTop > div:first-child {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
}

.writePostTop > div:first-child > div {
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #050505;
    font-size: 1.25rem;
    font-weight: bold;
}

.writePostTop > div:last-child {
    cursor: pointer;
    position: absolute;
    align-self: center;
    width: 36px;
    height: 36px;
    background-color: #e4e6eb;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.writePostTop > div:last-child:hover {
    background-color: #bcbdc2;
}

.writePostTop > div:last-child > i {
    align-self: center;
    filter: invert(0.39);
}

.writePostGrayLine {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.writePostMiddle {
    width: 100%;
    height: 245px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.writePostMiddleWithPic {
    height: 470px;
}

.writePostPicAndName {
    align-self: center;
    height: 65px;
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.writePostProfilePicDiv {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
    align-self: center;
}

.writePostProfilePicDiv > div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.writePostNameAndStatus {
    height: 40px;
    align-self: center;
    display: flex;
    flex-direction: column;
    
}

.writePostNameAndStatus > div:first-child {
    height: 50%;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #050505;
    font-size: .9375rem;
}

.writePostNameAndStatus > div:last-child {
    background-color: #e4e6eb;
    border-radius: 3px;
    height: 50%;
    width: 64px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #050505;
    font-size: .7375rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.writePostNameAndStatus > div:last-child > div {
    align-self: center;
    color: black;
    line-height: 0;
}

.writePostNameAndStatus > div:last-child > img {
    align-self: center;
    margin-right: 5px;
    margin-bottom: 2px;
}

.writePostTextBox { 
    height: 175px;
    width: 94%;
    align-self: center;
}

.writePostTextBoxWithPic { 
    height: 100px;
}

.writePostTextBox > textarea { 
    height: 175px;
    width: 100%;
    outline: 0;
    color: #050505;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.45rem;
    resize: none;
}

.writePostTextBox > textarea::placeholder { 
    color: rgba(0, 0, 0, 0.562);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.45rem;
}

.writePostBottom {
    width: 100%;
    height: 124px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.writePostAdd {
    align-self: center;
    width: 94%;
    height: 58px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 5px;
    display:flex;
    justify-content: center;
}

.writePostAddContent {
    width:93%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.writePostAddContent > div {
    align-self: center;
    color:#050505;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
}

.writePostAddContentIcons {
    display: flex;
    flex-direction: row;
}

.writePostAddContentIcons > label {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.writePostAddContentIcons > label > i {
    align-self: center;
}

.writePostAddContentIcons > label:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.writePostAddContentIcons > div {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.writePostAddContentIcons > div > i {
    align-self: center;
}

.writePostAddContentIcons > div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.writePostButton {
    border-radius: 5px;
    margin-top: 15px;
    align-self: center;
    width: 94%;
    height: 36px;
    background-color: #1b74e4;
    display:flex;
    justify-content: center;
    cursor: pointer;
}

.writePostButton:hover {
    background-color: #145fb9;
}

.writePostButton > div {
    align-self: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    font-weight: bold;
}



.writePostPhotoDiv {
    overflow: auto;
    width: 290px;
    height: 290px;
    margin-bottom: 10px;
    align-self: center;
}

.writePostPhotoDiv > div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}






